<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="../../assets/img/nen.jpeg" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                        <div>
                            <button class="fab fa-google btn-floating btn-lg btn-gplus" (click)="tryGoogleLogin()">
                            </button>
                        </div>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div> <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <form [formGroup]="signinForm" (ngSubmit)="tryFirebaseLogin()">

                        <div class="form-group">
                            <label for="mail"><span>Mail</span></label>
                            <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="mail" formControlName="mail">
                        </div>
                        <div class="form-group">
                            <label for="password"><span>Password</span></label>
                            <input type="password" class="form-control" from aria-describedby="UserNameHelp" placeholder="password" formControlName="password">
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <button type="submit" class="btn btn-warning">Login with firebase</button>
                        </div>
                        <div>
                            <a href="create"><small class="text-primary">Tạo tài khoản mới</small></a>
                        </div>
                    </form>

            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2020. All rights reserved.</small>
                
            </div>
        </div>
    </div>
</div>